# Notion
NOTION_API_KEY=secret_...
NOTION_ONCALL_DB_ID=3478471c7c228067a881e566217b2688
NOTION_CONSTRAINTS_DB_ID=

# Slack
SLACK_BOT_TOKEN=xoxb-...
SLACK_SIGNING_SECRET=...
SLACK_ONCALL_CHANNEL=C0123456789
SLACK_ONCALL_USERGROUP_ID=S0123456789

# App
CRON_SECRET=some-shared-secret
